.box-abba {
  display: flex;
  gap: 20px;
}
.box{
  background-color: purple;
  padding: 20px ;
  border-radius: 10px;
}
@media screen and (max-width:576px) {

  body{
    background-color: aqua;
  
  }
  .box-abba{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    margin: 0 auto;
  }

  
}
@media  screen and (max-width:255px) {
 
  .box{
    width: 200px;
    height: 100px;
    font-size: 10px;
    background-color: rgb(255, 0, 208);
  }
  
}